@charset "utf-8"
@import "mixins"

// 通用
html
body
    -webkit-font-smoothing antialiased
    width 100%
    height 100vh
    padding 0
    margin 0
    background #F5FAFF
    color #888888
    overflow-x hidden
a
    text-decoration none
    &:hover
        text-decoration none

// weui 重写
.weui_cells
    font-size 14px
    .weui_label
        width 5em
.weui_btn_primary
    background-color #2FAEF6
.weui_btn_primary:not(.weui_btn_disabled):active
    background-color #2FAEF6
.weui_btn_plain_primary
    color #2FAEF6
    border 1px solid #2FAEF6
.weui_btn_plain_primary:not(.weui_btn_disabled):active
    color #2FAEF6
    border 1px solid #2FAEF6
.weui_cells_radio .weui_check:checked+.weui_icon_checked:before
    color #2FAEF6
.weui_icon_success:before
    color #2FAEF6
.weui_switch:checked
    border-color #2FAEF6
    background-color #2FAEF6
.weui_cell_ft
    font-size 12px
.weui_btn_dialog.primary
    color #2FAEF6
.weui_actionsheet
    max-height 100%
    overflow auto
.weui_mask.info-container
    overflow auto
.weui_input
    padding-left 15px

[v-cloak]
    display none

// 颜色定义
.highlight-color
    color #2FAEF6 !important
.stress-color
    color #FF8A38 !important
.stress-background
    background-color #FF8A38 !important
.warning-color
    color #EF4F4F !important
.default-color
    color #888888 !important
.tips-color
    color #999999 !important

// 字体定义
.f10
    font-size 10px !important
.f12
    font-size 12px !important
.f14
    font-size 14px !important
.f16
    font-size 16px !important
.f18
    font-size 18px !important
.f20
    font-size 20px !important
.f22
    font-size 22px !important

// 强调加粗
.stress
    font-weight 700

// 居中
.text-center
    text-align center
.block-center
    margin 0 auto

// 浮动清除
.float-clear
    clear both

// 高度占位
.position-height
    height rem(100px)
.position-height120
    height rem(120px)
.position-height140
    height rem(140px)

// 按钮不可用
.car-btn-disabled
    background #009DD9
    color rgba(255, 255, 255, 0.6)
    opacity 0.6

// 合作品牌
.car-insure-companies-title
    margin-top rem(60px)
    text-align center
.car-insure-companies
    background #ffffff
    .car-insure-companies-group
        border 1px solid #DDDDDD
        &:first-child
            border-bottom-style none
    .car-insure-companies-item
        display inline-block
        width 32%
        border-right 1px solid #DDDDDD
        &:last-child
            border-right-style none
        img
            width 100%

// 首页广告轮播按钮
.car-input-enter
    position fixed !important
    top rem(330px) !important
    border 1px solid #FF8A38 !important
    background #FFFFFF !important
    z-index 999 !important
    width 90% !important
    height rem(80px) !important
    border-radius 6px !important
    left 3% !important

// 头部
.car-insure-header
    background #2FAEF6
    color #ffffff
    padding-top rem(18px)
    padding-bottom rem(18px)
    padding-left rem(20px)
    padding-right rem(20px)
    text-align center
    .left
        float left
        width rem(52px)
        img
            height rem(38px)
            margin-top rem(10px)
    .right
        float right
        margin-top rem(4px)
        color #ffffff
    .title
        font-size 18px
    .left-title
        margin-left rem(-52px)

// tab切换
.car-insure-navbar
    position relative
    height 100%
    .navbar-tab
        display block
        position absolute
        top 0
        width 100%
        background #FFFFFF
        .navbar-tab-item
            position relative
            display block
            padding rem(30px) 0
            text-align center
            color #888888
            font-size 18px
            border 1px solid #DDDDDD
            border-left-style none
            border-top-style none
            font-weight 700
            float left
            width 33%
            &:last-child
                border-right-style none
    .navbar-content
        box-sizing border-box
        height 100%
        padding-top rem(100px)
        padding-bottom rem(50px)
        overflow auto

// 页面logo
.car-insure-main
    .car-insure-logo
        text-align center
        padding-top: rem(140px)
        padding-bottom: rem(95px)
        .logo
            width: rem(375px)

// 车险小知识
.car-insure-running
    .car-insure-running-container
        background #F5FAFF
        color #000000
        opacity 1 !important
        .car-insure-main
            text-align center
            img
                display block
                margin 0 auto
                margin-top rem(30px)
                margin-bottom rem(30px)
            .title
                margin-top rem(20px)
                font-size 16px
                font-weight 700
            .tips
                color #4c4c4c
                background #FFCC22
                text-align left
                padding rem(20px)
                margin rem(20px)
                border-radius rem(20px)

// 脚部
.car-insure-footer
    background #FFFFFF
    color #999999
    border 1px solid #DDDDDD
    position fixed
    bottom 0
    left 0
    width 100%
    z-index 100
    .nav-container
        text-align center
        .nav-item
            float left
            width 33%
            color #999999
            img
                display block
                margin 0 auto
                margin-top rem(6px)
                height rem(50px)
            span
                display block
                font-size 12px
                color #999999
        .nav-active
            color #2FAEF6
            span
                color #2FAEF6
