@charset "utf-8"
@import "../base"

.container
    .weui-flex
        text-align center
        margin-top rem(100px)

#login_form
    width 86%
    margin 0 auto
    background-color #fff
    padding-bottom rem(20px)
    .weui-cells
        margin-top 0
        line-height 2
        .weui-input
            padding-left 0
            height 2em
            line-height 2
    .weui-btn
        width 66%
