@charset "utf-8"
@import "../common"

        #module303 {
            border: none;
            padding: 0.5% 0;
            background: none;
            overflow: hidden;
        }

        #module303 .formMiddle303 {
            border: none;
            padding: 0;
            background: none;
        }

        #module303 .formBannerTitle303 {
            border: none;
            padding: 0;
        }

        #module303 .formMiddleContent303 {
            background: none;
        }