@charset "utf-8"
@import "../base"

body
    background url('../../../images/mobile/bg2.jpg') no-repeat center
    background-size cover
    overflow hidden

.container
    .weui-flex
        text-align center
        margin-top rem(140px)

#login_form
    width 80%
    top 46%
    left 10%
    position absolute
