@charset "utf-8";

/* 字体 */
@font-face {
    font-family: 'icomoon';
    src: url('fontsIco/icomoon.eot?-2mgmdr&v=133');
    src: url('fontsIco/icomoon.eot?#iefix-2mgmdr&v=133') format('embedded-opentype'), url('fontsIco/icomoon.woff?-2mgmdr&v=133') format('woff'), url('fontsIco/icomoon.ttf?-2mgmdr&v=133') format('truetype');
    font-weight: normal;
    font-style: normal
}

[class^="icon-"], [class*=" icon-"], [class*="faisco-icons-"] {
    font-family: 'icomoon', "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
    margin: 0
}

html {
    height: 100%
}

input, textarea {
    -webkit-user-select: text
}

a {
    color: #000;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
}

video {
    width: 100%
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: top
}

input[type="radio"], input[type="checkbox"] {
    vertical-align: -2px
}

.g_textArea {
    text-indent: .25rem;
    height: 2.5rem;
    line-height: 1.1rem;
    font-size: .7rem;
    font-family: "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-appearance: none;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: -1px;
    outline: 0;
    z-index: 1;
    position: relative;
    text-indent: 0;
    padding-top: .6rem;
    padding-right: .5rem;
    color: #999
}

.g_textArea:focus {
    border-color: #9dbff6;
    color: #333
}

.g_border {
    border-bottom: 1px solid #CCC
}

.g_separator {
    background: #CCC
}

.g_panel {
    background: #d5f8f4
}

.g_replyPanel {
    background: #b8deea
}

.g_panelArrow {
    color: #b8deea
}

.g_dashed {
    border-bottom: 1px dashed #e1e1e1
}

.g_input {
    padding-left: .75rem;
    height: 2.5rem;
    line-height: normal;
    font-size: .7rem;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: -1px;
    width: 100%;
    color: #999;
    font-family: "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: 0;
    z-index: 1;
    position: relative
}

.g_select {
    padding-left: .75rem;
    height: 2.5rem;
    line-height: normal;
    font-size: .7rem;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: -1px;
    width: 100%;
    color: #999;
    font-family: "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: 0;
    z-index: 1;
    position: relative
}

.fk-selectStyle {
    font-family: "微软雅黑", Helvetica, "黑体", Arial, Tahoma;;
    color: #8c8c8c
}

.itemEdit {
    padding-left: 2.1rem
}

.g_input:focus {
    color: #333;
    border-color: #9dbff6;
    z-index: 2
}

.fk-inputFontColor {
    color: #333
}

.g_select:focus {
    color: #333;
    border-color: #9dbff6;
    z-index: 2
}

.g_close {
    bottom: 0;
    top: 0;
    float: left;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    display: table;
    height: 100%
}

.icon-gClose {
    font-size: 1.6rem;
    color: #fff
}

.icon-gClose:before {
    content: "\e60e";
    display: table-cell;
    vertical-align: middle
}

.faisco-icons-logo:before {
    content: "\e904"
}

.faisco-icons-gwc6:before {
    content: "\ea7e"
}

#g_body {
    overflow-x: hidden;
    overflow-y: auto;
    color: #000;
    font-size: .7rem;
    font-family: "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
    height: 100%
}

.g_web {
    margin: 0 auto;
    max-width: 768px;
    left: 0;
    top: 0;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%
}

.webLeft, .webRight {
    display: none
}

.webContainerBox {
    z-index: 0;
    display: block;
    position: relative;
    top: 2.4rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-backface-visibility: hidden
}

.webBackgroundFix {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    max-width: 768px
}

.webTop {
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 90;
    -webkit-backface-visibility: hidden;
    width: 100%;
    max-width: 768px;
    height: 0;
    -webkit-transition: all .4s;
    -ms-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.mobitipsTitle {
    position: fixed
}

.scroll_fix {
    position: fixed !important;
    max-width: 768px;
    top: 0;
    -webkit-backface-visibility: hidden
}

.webTips {
    position: fixed;
    max-width: 100%;
    width: 100%;
    z-index: 3;
    height: 1.5rem;
    -webkit-perspective: 1000;
    perspective: 1000
}

.webTips .mobitips {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    text-align: center
}

.webTips .mobiScrollbar {
    text-align: center;
    overflow: hidden;
    height: 1.5rem;
    font-size: .6rem;
    position: fixed;
    background: #fef5d8;
    width: 100%;
    max-width: 768px;
    z-index: 9
}

.webTips .marquee li {
    list-style: none;
    line-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.jz-webTips .mobiScrollbar {
    -webkit-text-size-adjust: none
}

.jz-webTips .j-marqueeContainer {
    width: 100%;
    height: 100%
}

.jz-webTips .j-marqueeContainer ul {
    margin: 0;
    padding: 0
}

.jz-webTips .j-marquee {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%
}

.jz-webTips .j-marqueeContainer li {
    position: relative;
    display: inline-block
}

.jz-webTips .j-marqueeContainer li:not(:first-child) {
    margin-left: 20px
}

.webTopBox {
    margin: auto
}

/*loading*/
.g_web .loading {
    z-index: 9999;
    position: fixed;
    width: 100%;
    max-width: 768px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, .5) !important
}

.g_web .loading .splashscreen {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    display: block
}

.loading .ui-loader {
    opacity: .85
}

.loading .ui-loader .ui-icon {
    position: static;
    display: block;
    opacity: .9;
    width: 3rem;
    height: 3rem;
    background-color: transparent
}

.spin {
    transform: rotate(360deg);
    animation: spin 1s infinite
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loading .ui-icon-loading {
    background-image: url("/Content/images/training/loading.png");
    border-radius: 1rem;
    background-size: 3rem 3rem
}

/*banner*/
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    margin: 0 auto
}

.swipe img {
    width: 100%
}

.hiddenDefaultBanner .defaultBanner {
    background: 0
}

.swipe .bannerImageDiv {
    display: block;
    width: 100%;
    height: 100%;
}

.swipe .bannerImageDiv img {
    width: 100%;
    height: 100%;
}

.bannerHidden {
    display: none
}

.bannerSwipeContainer {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-size: contain;
    -webkit-perspective: 500;
    perspective: 500;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.bannerSwipeContainer img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.bannerSwipeContainer > div {
    float: left;
    width: 100%;
    position: relative;
    height: 100%
}

.billboard > div {
    clear: both;
    position: absolute
}

.webBannerBox .bannerBullet {
    position: absolute;
    height: .9rem;
    bottom: 0;
    width: 100%
}

.webBannerBox .bannerBullet .bullets {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0
}

.webBannerBox .bullets li {
    display: inline-block;
    width: .35rem;
    height: .35rem;
    border-radius: 100%;
    background: #999;
    margin: 0 .1rem;
    cursor: pointer;
    background: rgba(170, 170, 170, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    vertical-align: middle
}

.webBannerBox .bullets li.on {
    background: #fff
}

.nextAndPreviousIcon {
    width: 1.75rem;
    height: 1.75rem;
    float: right;
    top: 35%;
    cursor: pointer;
    position: absolute;
    background-position: .25rem;
    border-radius: 4px
}

.imageSliderNext {
    background: url(/Content/images/training/right.png) rgba(0, 0, 0, .4) no-repeat;
    background-size: 100%;
    right: .75rem
}

.imageSliderPrevious {
    background: url(/Content/images/training/left.png) rgba(0, 0, 0, .4) no-repeat;
    background-size: 100%;
    left: .75rem
}

.webFooter {
    margin: 0 auto
}

.webFooterBox {
    margin: 0 auto
}

.webFooterBox .bottomdiv {
    height: 1.75rem
}

.webFooterBox .bottomdiv .bottom {
    position: relative;
    background: #999;
    height: 1.5rem
}

.webFooterBox .bottomdiv .bottom .backtop {
    float: right;
    color: #fff;
    position: relative;
    text-transform: capitalize;
    text-align: right;
    padding-right: 1rem;
    line-height: 1.5rem;
    transition: all 350ms;
    -webkit-transition: all 350ms;
    font-family: verdana;
    font-weight: bold;
    cursor: pointer
}

.webFooterBox .bottomdiv .bottom .backtop:active {
    background: rgba(0, 0, 0, .5)
}

.webFooterBox .bottomdiv .bottom .backtop b {
    position: absolute;
    width: 0;
    height: 0;
    top: .5rem;
    right: .35rem;
    border: .2rem transparent solid;
    border-bottom-color: #fff
}

.form .formBannerMore .titleMoreIcon {
    display: none;
    padding: 0 .5rem;
    float: right;
    text-align: center;
    position: relative
}

.form .formBannerMore .titleMore {
    color: #fff;
    padding: 0 .5rem;
    float: right;
    font-size: .6rem;
    font-weight: 500;
    text-align: center;
    position: relative
}

.form .formBannerMore .icon-titleMore:before {
    position: absolute;
    top: 50%;
    margin-top: -0.5rem;
    left: .05rem
}

.form .formMiddle .photoListImg {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.form .formMiddle .imgClass_160 {
    height: 8rem;
    text-align: center
}

.form {
    position: relative;
    margin-top: .6rem;
    overflow: hidden
}

.form:nth-child(1) {
    margin-top: 0;
    box-shadow: none
}

.form .formBannerTitle {
    width: 100%;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.75rem
}

.formBannerTitle {
    width: 100%
}

.formMiddle {
    width: 100%
}

.form .formBannerTitle .titleText {
    text-indent: .4rem;
    width: 78%;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    color: #fff
}

.formBannerTitle .titleTextIcon {
    display: none;
    float: left;
    line-height: inherit
}

.form .formBannerTitle .textContent {
    white-space: nowrap;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%
}

.newsDetail .title {
    float: none;
    line-height: 1.5rem;
    background: 0;
    height: auto
}

.textAreaLine {
    height: auto
}

.newsList .line:before {
    content: ""
}

.newsList .line.wWLineOne:before {
    content: "";
    background: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0
}

.newsList .line.wWLineOne:nth-last-child(2):before {
    content: "";
    background: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0
}

.newsList .line.wWLineOne:after {
    content: "";
    border: 0;
    background: 0
}

.newsList .line.wWLineOne:nth-last-child(2):after {
    content: "";
    border: 0;
    background: 0;
    border: 0
}

.newsList .line.One:before {
    content: "";
    background: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0
}

.newsList .line.One:nth-last-child(2):before {
    content: "";
    background: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0
}

.newsList .line.One:after {
    content: "";
    border: 0;
    background: 0
}

.newsList .line.One:nth-last-child(2):after {
    content: "";
    border: 0;
    background: 0
}

.newsList .wWLine {
    height: auto;
    overflow: visible
}

.newsList .wWLineOne {
    height: auto;
    overflow: hidden;
    zoom: 1;
    padding-left: .3rem;
    padding-right: .3rem;
    max-width: 100%
}

.newsList .One {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    zoom: 1;
    padding-left: .3rem;
    padding-right: .3rem
}

.newsList .line .newsCalendar {
    height: 1.15rem;
    line-height: 1.15rem;
    width: 3.75rem;
    cursor: pointer;
    text-align: right
}

.newsList .line .newsCalendar a {
    display: inline-block;
    padding: 0 0 0 .25rem;
    text-decoration: none
}

.newsList .line a {
    display: inline-block;
    max-width: 100%;
    text-decoration: none;
    outline: 0;
    word-break: keep-all;
    -o-text-overflow: ellipsis;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .7rem;
    font-weight: normal;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.separatorLine {
    clear: both;
    margin: 0;
    font-size: 0;
    border-top: 0;
    border-left: none;
    border-right: 0;
    height: 1px;
    line-height: 1px;
    border-width: 1px
}

.newsList .line .lineBody .g_topFlag {
    width: 1rem;
    height: 1rem;
    margin: 0;
    padding: 0;
    float: left
}

.newsList .wWLine a {
    height: auto;
    line-height: 1rem;
    word-break: break-all;
    white-space: normal;
    text-overflow: clip;
    -o-text-overflow: clip;
    width: 100%
}

.newsList .wWLine.line .lineBody {
    padding-top: .6rem;
    padding-bottom: .4rem
}

.newsList .line .lineBody {
    padding-top: .29rem;
    padding-bottom: .29rem
}

.newsList .newsLine .newsLeftImg {
    width: 2.5rem;
    height: 2.5rem
}

.newsList .newsLine .newsRightImg {
    width: 2.5rem;
    height: 2.5rem
}

.newsList .newsLine .icon-noFigureS {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2
}

.newsList .newsLine .icon-noFigureS:before {
    content: "\e729";
    display: inline-block;
    font-size: 40px;
    position: relative;
    top: 4px;
    left: 4px;
    margin: 0;
    color: #c4c4c4;
    opacity: 1
}

.newsList .newsLine .icon-noFigureM:before {
    content: "\e729";
    background-color: #f2f2f2;
    display: inline-block;
    font-size: 3.4rem;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    color: #c4c4c4;
    opacity: 1
}

.newsList .largeImageNewsStyle {
    margin-bottom: .4rem;
}

.newsList .largeImageNewsStyle:last-child {
    margin-bottom: 0;
}

.newsList .largeImageNewsStyle .f_mixNewsStyleImgBox6_link {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
    max-height: 9rem;
    display: block;
    position: relative
}

.newsList .largeImageNewsStyle .lineBody {
    position: relative;
    overflow: hidden
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 {
    clear: both;
}

.newsList .largeImageNewsStyle.wWLine .lineBody .g_topFlag {
    width: .95rem;
    height: .95rem;
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-right: .1rem;
    margin-top: .04rem
}

.newsList .largeImageNewsStyle .lineBody .g_topFlag {
    display: inline-block;
    vertical-align: top;
    width: .95rem;
    height: .95rem;
    position: relative;
    margin-top: .2rem;
    margin-right: .1rem
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsTitlePic {
    width: 14.6rem;
    height: 7rem;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-color: #f2f2f2
}

.newsList .largeImageNewsStyle .mixNewsStyleTitleContainer6 {
    position: absolute;
    background: rgba(0, 0, 0, .65);
    max-height: 9rem;
    font-weight: normal;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0;
    bottom: 0
}

.newsList .largeImageNewsStyle .mixNewsStyleTitleContainer6 img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.newsList .largeImageNewsStyle .mixNewsStyleTitleContainer6 .mixNewsStyleTitle1 {
    width: 40%; 
    display: block;
    font-weight: normal;
    font-size: .78rem;
    letter-spacing: .1rem;
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    line-height: 7rem;
}

.newsList .largeImageNewsStyle .mixNewsStyleTitleContainer6 .mixNewsStyleTitle2 {
    width: auto;
    display: block;
    font-weight: normal;
    font-size: .78rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.3rem;
    line-height: 1.3rem;
    font-family: 微软雅黑;
    letter-spacing: .04rem;
    text-align: center;
    color: #fff
}

.newsList .largeImageNewsStyle .mixNewsStyleSummary {
    padding: .4rem 1.5rem 0;
    max-height: .9rem;
    color: #c0c0c0;
    display: block;
    width: auto;
    height: auto;
    font-size: .6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: .8rem;
    font-family: 微软雅黑;
    text-align: center
}

.newsList .largeImageNewsStyle .mixNewsStyleTitlePanel {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.newsList .largeImageNewsStyle .icon-noFigureB:before {
    height: 9rem;
    content: "\e729";
    background-color: #f2f2f2;
    display: inline-block;
    font-size: 8.5rem;
    position: relative;
    top: 0;
    left: 50%;
    margin: 0 0 0 -4.2rem;
    color: #c4c4c4;
    opacity: 1
}

.newsList .clearFix:before, .newsList .clearFix:after {
    content: "";
    display: table
}

.newsList .clearFix:after {
    clear: both
}

.newsList .One .newsElementsPanel, .newsList .wWLineOne .newsElementsPanel {
    padding-left: .25rem
}

.newsList .newsElementsPanel {
    padding-bottom: .5rem;
    font-size: .6rem;
    color: #ababab;
    cursor: pointer;
    letter-spacing: -0.3rem
}

.newsList .newsElementsPanel .ne_newsComment {
    display: inline-block;
    max-width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0
}

.newsList .newsElementsPanel .ne_newsComment:before, .newsList .newsElementsPanel .ne_newsAuthor:before {
    font-size: .8rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.2rem
}

.newsList .newsElementsPanel .ne_newsComment .newsCommentCount {
    vertical-align: middle;
    line-height: 1.1rem
}

.newsList .newsElementsPanel .ne_newsAuthor {
    display: inline-block;
    max-width: 60%;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: .6rem
}

.newsList .newsElementsPanel .ne_newsAuthor .newsAuthorName {
    vertical-align: middle;
    line-height: 1.1rem
}

.newsList .newsElementsPanel .ne_separatorLine {
    display: inline-block;
    width: 1px;
    height: .56rem;
    background: #ababab;
    margin: .25rem .7rem .24rem;
    letter-spacing: 0;
    line-height: 1rem
}

.newsList .newsElementsPanel .ne_newsSort {
    display: inline-block;
    max-width: 60%;
    letter-spacing: 0;
    margin-right: .5rem;
    line-height: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.newsList .newsElementsPanel .ne_newsTime {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 0;
    line-height: 1.1rem
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsSortPanel {
    text-align: center
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsSortPanel:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: .7rem;
    height: 1px;
    background-color: #fff
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsSortPanel .newsSort {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    max-width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsSortPanel:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: .7rem;
    height: 1px;
    background-color: #fff
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsElementsPanel {
    position: absolute;
    width: 100%;
    bottom: 0rem;
    font-size: .6rem;
    color: #fff;
    padding-bottom: .4rem
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsElementsPanel .ne_newsComment {
    margin-left: .6rem;
    margin-right: 0
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsElementsPanel .ne_newsTime {
    float: right;
    margin-right: .4rem
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsElementsPanel .ne_separatorLine {
    background: #ababab
}

.newsList .largeImageNewsStyle .mixNewsStyleImgBox6 .newsElementsPanel .ne_newsAuthor {
    margin-left: 0;
    max-width: 40%
}

.faisco-icons-comment:before {
    content: "\ea84"
}

.faisco-icons-author:before {
    content: "\ea85"
}

.webBannerBox {
    margin: 0 auto;
    position: relative
}

.textImg3 {
    float: none;
    width: 100%;
    display: block;
    text-align: center
}

.richContent {
    line-height: 1.6;
    padding: 0 .35rem;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-align: left;
    margin: .5rem 0;
    font-size: .7rem
}

.richContent ol {
    padding-left: 2rem
}

.richContent ul {
    padding-left: 1.35rem
}

.richContent a, .content a {
    text-decoration: underline
}

.clear {
    clear: both
}

.footer {
    padding: .5rem 0;
    position: relative
}

.technical {
    margin-bottom: 1rem
}

.technicalSupport {
    clear: both;
    text-align: center;
    color: #666;
    margin: 0;
    padding: .1rem 0;
    position: relative;
    overflow: hidden;
    font-size: .6rem
}

.technicalSupport ol {
    padding-left: 2rem
}

.technicalSupport ul {
    padding-left: 1.35rem
}

.footer a {
    text-decoration: none
}

.technicalSupport a {
    color: #666;
    text-decoration: none
}

.rep {
    margin-left: .5rem
}

.webModuleContainer {
    position: relative
}

.formMiddle {
    overflow: hidden;
    padding-bottom: .25rem;
    table-layout: fixed;
    border-spacing: 0
}

.formMiddle .middleLeft, .formMiddle .middleRight {
    display: none
}

.sorryTips {
    padding: 0 .25rem;
    margin: .5rem auto;
    color: gray
}

.webCustomerServiceBox {
    margin: 0 auto;
    margin-bottom: 2.4rem
}

.webCustomerServiceBox {
    opacity: 0
}

.webCustomerServiceBox .customerServiceDiv {
    width: 100%;
    max-width: 768px;
    -webkit-backface-visibility: hidden
}

.webCustomerServiceBox .service {
    height: 2.4rem;
    line-height: 2.4rem;
    float: left;
    text-align: center
}

.webCustomerServiceBox a {
    color: #fff
}

.webCustomerServiceBox .discribe {
    color: #fff
}

.customerServiceDiv .customServiceLine {
    display: none
}

.customerServiceDiv .icon {
    -webkit-backface-visibility: hidden;
    height: 100%;
    margin: auto;
    font-size: 1.5rem;
    color: #fff
}

.faisco-icons-mail1:before {
    content: "\e6a0"
}

.faisco-icons-qq1:before {
    content: "\e6ca"
}

.faisco-icons-call1:before {
    content: "\e62c"
}

.faisco-icons-gps1:before {
    content: "\e67c"
}

.faisco-icons-message1:before {
    content: "\e6b2"
}

.faisco-icons-menu1:before {
    content: "\e6a8"
}

.customerServiceDiv .describe {
    color: #fff;
    font-size: .8rem;
    white-space: nowrap;
    height: 2.4rem;
    overflow: hidden;
    line-height: 2.4rem;
}

.icon-mnameIcon:before, .icon-memailIcon:before, .icon-mphoneIcon:before, .icon-mmsgIcon:before, .icon-mpswIcon:before {
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2;
    color: #333
}

.icon-mmsgIcon:before {
    top: .6rem
}

.icon-mpswIcon:before {
    content: "\e69b"
}

.icon-mnameIcon:before {
    content: "\e641"
}

.icon-memailIcon:before {
    content: "\e6a1"
}

.icon-mphoneIcon:before {
    content: "\e62d"
}

.icon-mmsgIcon:before {
    content: "\e6b3"
}

.g_globalLine .mustSpan {
    position: absolute;
    right: -0.5rem;
    top: .5rem
}

.g_button {
    background-repeat: no-repeat;
    border: 0;
    color: white;
    height: 2rem;
    line-height: 2rem;
    font-size: .8rem;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, "黑体", Arial, Tahoma;
    text-align: center;
    margin: .5rem auto;
    padding: 0;
    width: 100%;
    display: block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    outline: 0
}

.icon-userMsgIcon:before {
    content: "\e6b4";
    padding-right: .2rem;
    font-size: 1rem;
    vertical-align: top;
    z-index: 2
}

.icon-publishIcon:before {
    content: "\e72a";
    padding-right: .2rem;
    font-size: .9rem;
    vertical-align: top
}

.captchaImg {
    width: 4.5rem;
    height: 1.7rem;
    position: absolute;
    top: .4rem;
    right: .4rem;
    z-index: 2
}

.icon-update:before {
    content: "\e671";
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 1.3rem;
    right: .2rem;
    color: #666;
    z-index: 2
}

.sortPanelList .line {
    padding-right: .25rem;
    overflow: hidden
}

.line {
    padding-left: .5rem;
    clear: both;
    position: relative;
    background-repeat: no-repeat;
    background-position: .25rem 1rem;
    padding-left: .5rem;
    padding-right: 1.6rem
}

.sortPanelList .pgName {
    display: inline-block;
    float: left;
    text-decoration: none;
    outline: 0;
    word-break: keep-all;
    -o-text-overflow: ellipsis;
    height: 1.9rem;
    line-height: 1.9rem;
    font-weight: normal;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, "黑体", Arial, Tahoma
}

.sortPanelList .pgRight {
    float: right;
    height: 1.9rem;
    line-height: 1.9rem;
    color: #0a6aa1;
}

.sortPanelList .pgRight.active {
    color: #666;
}

.sortPanelList .pgMark {
    float: right;
    margin: .4rem .55rem 0 0;
    font-size: .9rem
}

.payMode1:before {
    content: "\eaa3";
    color: #5bb741
}

.payMode2:before {
    content: "\eaa7";
    color: #e42a3a
}

.payMode3:before {
    content: "\eaa8";
    color: #ff8100
}

.payMode4:before {
    content: "\eaa6";
    color: #00a0e9
}

.payMode5:before {
    content: "\eaa6";
    color: #00a0e9
}

.payMode6:before {
    content: "\eaa6";
    color: #00a0e9
}

.payMode8:before {
    content: "\eaa6";
    color: #00a0e9
}

.payMode9:before {
    content: "\eaa4";
    color: #0066e4
}

.payMode7:before {
    content: "\eaa2";
    color: #00a0e9
}

.payMode10:before {
    content: "\eaa5";
    color: #75d42f
}

.payMode11:before {
    content: "\eaa5";
    color: #75d42f
}

.photoModule.styleForm1 {
    margin-top: .5rem
}

.photoModule.styleForm1 li {
    text-align: center
}

.photoModule.styleForm1 .photoDiv {
    display: inline-block;
    margin-bottom: 1rem;
    vertical-align: top;
    -webkit-backface-visibility: hidden;
}

.photoModule.styleForm1 .imgDiv {
    overflow: hidden;
    vertical-align: middle;
    text-align: center
}

.photoModule.styleForm1 .photoDiv .imgName {
    word-break: break-all;
    max-width: 13rem;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #676767;
    text-align: center;
    font-size: .8rem;
    line-height: 1.2rem
}

.g_background {
    background: #fff
}

.g_locale2052 .g_button {
    background-position: 32% 40%
}

.loginContent {
    padding: .75rem .5rem .75rem .5rem;
    text-align: center
}

.icon-nameIcon:before, .icon-acctIcon:before, .icon-userIcon:before {
    content: "\e641";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.icon-pswIcon:before {
    content: "\e69b";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.icon-cpswIcon:before {
    content: "\e69b";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.icon-phoneIcon:before {
    content: "\e62d";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.icon-mobileIcon:before {
    content: "\e62d";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.icon-provIcon:before {
    content: "\e62d";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.icon-cityIcon:before {
    content: "\e62d";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.icon-addressIcon:before {
    content: "\e62d";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.icon-emailIcon:before {
    content: "\e6a1";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.loginContent .autoLoginCtrl {
    margin: .65rem 0 .75rem 0
}

.loginContent .autoLoginCtrl .autoLoginCheck {
    width: .5rem;
    height: .5rem;
    margin-right: .2rem;
    display: none
}

.loginContent .autoLoginCtrl .autoLoginLabel {
    font-size: .55rem
}

.loginContent .loginSubmitCtrl {
    background: #2982ba;
    margin: .6rem .5rem 0 .5rem
}

.loginContent .loginSubmit {
    background-color: #2982ba;
    background-repeat: no-repeat;
    background-size: 1.2rem auto;
    background-position: 32% 40%;
    border: 0;
    color: white;
    height: 1.75rem;
    font-size: .7rem;
    font-weight: bold;
    border-radius: 0;
    width: 14rem;
    margin: 0;
    padding: 0
}

.loginContent .loginBottom {
    text-align: right;
    margin-top: .4rem
}

.loginContent .loginBottom .freeRegister {
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, "黑体", Arial, Tahoma;
    color: #666
}

.loginErrorLine {
    display: none;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 200px;
    margin-left: 3rem
}

.errorTips {
    background: rgba(0, 0, 0, .7);
    border-radius: 4px;
    color: #fff;
    font-size: .7rem;
    padding: .7rem;
    word-wrap: break-word
}

.exit {
    color: #2982ba
}

.checkEmail {
    text-align: left;
    padding: 0 .5rem;
    width: 93%;
    word-wrap: break-word
}

.emailAddr {
    display: none;
    margin-top: .5rem;
    text-align: left;
    padding-left: .5rem;
    color: #06c
}

.icon-msgIcon:before {
    content: "\e6b3";
    position: absolute;
    top: .8rem;
    left: .6rem;
    font-size: .9rem;
    z-index: 2
}

.mustIcon {
    color: red
}

.g_globalLine {
    position: relative;
    width: 100%
}

.mustSpan {
    position: absolute
}

.g_circle {
    width: 10rem;
    height: 10rem;
    border: 1px #e5e5e5 solid;
    -moz-border-radius: 5rem;
    -webkit-border-radius: 5rem;
    border-radius: 5rem;
    margin: 2.5rem auto 2rem
}

.icon-checkIcon:before {
    content: "\e6fd";
    display: inline-block;
    margin-right: .2rem;
    font-size: .7rem;
    position: relative;
    top: .1rem
}

.icon-uncheckIcon:before {
    content: "\e715";
    display: inline-block;
    margin-right: .2rem;
    font-size: .7rem;
    position: relative;
    top: .1rem
}

.siteForm {
    padding: .5rem 0 .5rem 0
}

.siteFormAddButton {
    line-height: 1.75rem;
    text-align: center;
    width: 90%;
    margin: auto;
    margin: .5rem auto
}

.siteFormItem label {
    margin-left: .15rem
}

.siteFormAddButton input {
    font-size: .8rem;
    font-weight: bold;
    color: #fff
}

.g_warning {
    background-color: #fef5d8;
    color: #eb6a40
}

.siteFormItemTable {
    width: 100%;
    height: 1.25rem;
    table-layout: fixed;
    display: table
}

.siteFormName {
    text-align: center;
    font-size: .7rem;
    font-weight: 600
}

.siteFormItem {
    height: 1.75rem;
    display: table-row
}

.siteFormItem .g_itext[type="text"] {
    height: 1.6rem;
    width: 85%;
    font-size: .6rem;
    font-family: 微软雅黑;
    text-indent: 8px
}

.siteFormItem .g_itext, .siteFormItem .g_textarea {
    border: 1px solid #dadada;
    background-color: #f7f7f7;
    -webkit-appearance: none;
    border-radius: 4px;
    font-size: .7rem;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, "黑体", Arial, Tahoma
}

.siteFormItem input::-webkit-input-placeholder {
    color: #8c8c8c
}

.siteFormItem input:-moz-placeholder {
    color: #8c8c8c
}

.siteFormItem input::-moz-placeholder {
    color: #8c8c8c
}

.siteFormItem input:-ms-input-placeholder {
    color: #8c8c8c
}

.siteFormItem select {
    border: 1px solid #dadada
}

.siteFormItem td {
    padding: .2rem 0
}

.formValidateUpDiv {
    display: table;
    table-layout: fixed;
    padding-left: .25rem
}

.siteFormValidate .left {
    display: table-cell;
    vertical-align: middle
}

.siteFormValidate .siteFormItemValidate {
    width: 70%
}

.siteFormValidate input {
    text-indent: .25rem
}

.siteFormItemCheckItem {
    float: left;
    margin-right: .6rem;
    line-height: 1.75rem
}

.siteFormItemCheckItem span {
    cursor: default
}

.siteFormItemLink {
    height: 1px;
    line-height: 1px;
    margin-bottom: .5rem;
    margin-top: .5rem
}

.siteFormItemShowName {
    padding-right: .25rem;
    text-align: right
}

.siteFormItemShowName font {
    float: left;
    margin-left: .5rem;
    font-size: .9rem;
    padding-right: .25rem
}

.siteForm .siteFormItemShowNameFont {
    padding-top: 0;
    text-align: left;
    padding-left: .5rem;
    line-height: 2.5rem;
    width: .75rem;
    font-size: 1rem;
    float: left
}

.siteFormValidate .validateUpImageDiv {
    width: 5rem;
    padding-left: .5rem;
    height: 1.7rem
}

.siteFormItemShowNameUp {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.siteFormValidate .changeSiteFormValidate {
    line-height: 1.75rem;
    background-image: url(/image/refurbish.png?v=201610211723);
    background-repeat: no-repeat;
    width: 10%;
    height: 1.75rem;
    background-size: 18px auto;
    cursor: pointer;
    background-position: 80% 50%
}

.siteFormValidate .validateCodeImg {
    cursor: pointer;
    height: 1.6rem;
    visibility: visible
}

.siteForm .siteFormMsg {
    text-align: center;
    width: 90%;
    height: auto;
    line-height: 1.5rem;
    margin: .25rem auto;
    display: none
}

.siteFormItem select {
    height: 1.75rem;
    margin: auto;
    font-size: .6rem;
    font-weight: normal;
    width: 86%;
    border-radius: 4px
}

.uploadify-text {
    color: #666;
    font-family: 微软雅黑, 'microsoft yahei', 宋体, 新宋体, sans-serif
}

.uploadify-button {
    -webkit-appearance: none;
    float: left;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: .6rem;
    border-radius: 4px;
    margin: 0;
    padding: 0 5px !important;
    _padding: 0 4px;
    width: 40%;
    height: 1.60rem;
    _height: 28px;
    line-height: 1.40rem;
    _line-height: 32px;
    border: 1px solid #dadada;
    background-color: #f7f7f7;
    font-family: 微软雅黑, 'microsoft yahei', 宋体, 新宋体, sans-serif
}

.uploadify-button:hover {
    border: 1px solid #3298fe;
    background: #e8f3fe;
    color: #666
}

.mProductTileForm {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%
}

.photoModule.styleForm1 .photoDiv {
    width: 47%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}

.photoModule.styleForm1 .photoDiv:nth-child(2n) {
    margin-left: 0;
}

.mProductList .paramPadding .proParamNoWrap {
    word-break: break-all;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.webContainerBox .bannerBullet {
    position: absolute;
    height: 18px;
    bottom: 0;
    width: 100%
}

.webPagePanel .bullets, .webContainerBox .productBullet .bullets {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0
}

.webPagePanel .bullets li, .webContainerBox .bullets li {
    display: inline-block;
    width: .35rem;
    height: .35rem;
    border-radius: 100%;
    background: #999;
    margin: 0 .1rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.15)
}

.webContainerBox .productBullet {
    height: .65rem;
    line-height: 0
}

.webContainerBox .bullets li.on {
    background: #000
}

.fullScreenDivCotainer {
    position: fixed;
    z-index: 99;
    padding: 0 !important;
    overflow: visible
}

.fullScreenDiv {
    visibility: hidden;
    left: 150%;
    overflow-y: auto !important;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 768px;
    z-index: 999 !important;
    transition: all 500ms;
    -webkit-transition: all 500ms
}

.showFullScreen {
    visibility: visible;
    left: 0;
    visibility: visible;
    transition: all 500ms;
    -webkit-transition: all 500ms
}
