@charset "utf-8"

body
    font-family "微软雅黑", Arial, Helvetica, sans-serif
    color #075B92
    background #FFFFFF
    font-size 14px
    margin 0
    padding 0
header, footer, nav
    display block
ul
    list-style-type none
    margin 0
    padding 0
    li
        list-style-type none
        margin 0
        padding 0
a
    text-decoration none
    color #075B92
    &:hover
        text-decoration none

.input-validation-error
    border 1px solid #F2595C !important
    border-bottom-left-radius 0
    border-bottom-right-radius 0
    text-align left
    &:focus
        box-shadow(0 0 8px rgba(242,89,92,.6))

.field-validation-error
    color #F2595C
    border 1px solid #F2595C
    border-top none
    background-color #FFDEDE
    padding-left 8px
    text-align left

table
    border-collapse collapse
    border-spacing 0
    th
    td
        padding 0

/* 头部样式 */
.top-container
    table.top-header
        width 100%
        border none
        color #FFFFFF
        .top-header-left
            background url('/Content/images/new/top_bg.jpg') repeat-x
            width 200px
            height 57px
            .top-header-logo
                width 100%
                border none
                img
                    height 56px
        .top-header-right
            background url('/Content/images/new/top_bg.jpg')
            table
                width 100%
                border none
                .top-header-date
                    height 29px
                    text-align left
                .top-header-title
                    width 50%
                    height 28px
                    div
                        background url("/Content/images/new/top_lable.jpg") no-repeat
                        width 126px
                        height 28px
                        float left
                        p
                            margin-top 6px
                            text-align left
                            padding-left 6px
                .top-header-menu
                    .menu
                        background url("/Content/images/new/top_menu.jpg") no-repeat
                        width 348px
                        height 28px
                        float right
                        ul
                            margin 6px 0 0 60px
                            overflow hidden
                            li
                                float left
                                display block
                                a
                                    padding 2px 8px
                                    display block
                                    span
                                        color #FFFFFF
                                        display block
                                    &:hover
                                        span
                                            color #2d97e6
    table.top-menu
        width 100%
        border none
        height 30px
        .top-menu-left
            background url('/Content/images/new/menu_bg.jpg')
            background-size auto 30px
            width 165px
            .top-menu-user
                background url('/Content/images/new/menu_left.jpg') no-repeat
                background-size 155px 27px
                width 155px
                height 27px
                float left
                margin 3px 0 0 4px
                text-align center
                color #FFFFFF
                p
                    margin-top 5px
        .top-menu-list
            background url('/Content/images/new/menu_bg.jpg') repeat-x
            background-size auto 30px
            width 100%
            div.menu-items
                width 100%
                height 30px
                .short-enter
                    background url('/Content/images/new/hand_right.png') no-repeat 0 4px
                    background-size auto 20px
                    float left
                    padding-left 24px
                    padding-top 5px
                    margin-left 38px
                ul
                    padding 5px 0 0 8px
                    float left
                    li
                        float left
                        a
                            display block
                            &:hover
                            &.active
                                background url('/Content/images/new/menu_list.jpg') repeat-x
                                span
                                    color #FFFFFF
                                    border 1px solid #004C7E
                            span
                                display block
                                padding 0 12px
                                color #004C7E
/* 导航样式 */
.navigator-container
    width 164px
    height 100%
    border 0
    text-align center
    background #D4ECFC
    .navigator
        table.list
            width 162px
            height auto
            position fixed
            table-layout fixed
            .list-title
                height 28px
                background url('/Content/images/new/list_top.gif')
            .list-data
                height 92px
                vertical-align top
                .base-data
                    width 100%
                    height 40px
                    margin-top 4px
                    td
                        height 20px
                .more-data
                    width 100%
                    height 50px
            .list-nav-header
                td
                    height 30px
                    background url('/Content/images/new/list_task.jpg') repeat-x
                    background-size auto 30px
            .list-nav-item
                td
                    border-bottom 1px dotted #004C7E
                    height 30px
                    span
                        display block
                        a
                            display block
                            width 100%
                            height 30px
                            line-height 30px
                &.active
                &:hover
                    background url("/Content/images/new/right.png") no-repeat 16px center
                    background-size auto 16px
                &.last-nav-item
                    td
                        border-bottom none
                        height 30px
        table.list-performance
            top 87px
        table.list-nav
            top 116px

/* 内容容器 */
.container-wrapper
    color #333
    overflow auto
    width 100%
    height 100%
    position fixed
    .wrapper
        width 100%
        height 100%
        border none
        .wrapper-td
            width 168px
            vertical-align top

/** pic add **/
.pic-select
    position relative
    width 80px
    height 80px
    display block
    border 1px dashed #999
    cursor pointer
    input[type="file"]
        position absolute
        width 100%
        height 100%
        opacity 0
        top 0
        left 0
        z-index 1000
    .pic-add
        position absolute
        width 40px
        height 40px
        top 20px
        left 20px

.js-max-input
    border solid 1px #ffd2b2
    background #fffae5
    padding 0 12px
    font-size 22px
    color #ff4400
    z-index 100

/** bootstrap **/
.container-fluid
    margin 0
    padding 0 0 70px 0
.form-control
    height 30px
    font-size 14px
    border-radius 0
    box-shadow none
    transition none
input[type=radio]
input[type=checkbox]
    margin 0
.btn
    font-size 14px
    border-radius 0
    padding 4px 12px
.btn-sm
    font-size 12px
    border-radius 0
    padding 4px 10px
.panel
    margin-bottom 10px
    .panel-heading
        padding 8px 12px
    .modal-body
        overflow hidden
.table-responsive
    .table
        margin-bottom 0
        th
        td
            padding 4px
            text-align center
            vertical-align middle
.modal
    top 80px
.modal-sm
    width 260px
    .modal-header
        padding 6px
        text-align center
        .close
            margin-top 0
            margin-right 0
.modal-dialog
    .modal-header
        padding 10px
.alert
    padding 12px
    margin-bottom 16px
    &.tips-content
        margin-bottom 0
        text-align center
.pagination
    margin 6px 0
.pagination>li>a
.pagination>li>span
    padding 4px 10px
.col-sm-10
    text-align left
/** common **/
.no-list-count
    margin-top 10px
    text-align center
.xdsoft_datetimepicker
    .xdsoft_timepicker
        width 130px !important
        .xdsoft_prev
        .xdsoft_next
            margin-left 51px !important
