@charset "utf-8"

body
    font-family "宋体", "微软雅黑", Arial, Helvetica, sans-serif
    color #075B92
    background #FFFFFF
    font-size 12px
    margin 0
    padding 0
header, footer, nav
    display block
ul
    list-style-type none
    margin 0
    padding 0
    li
        list-style-type none
        margin 0
        padding 0
a
    text-decoration none
    color #075B92
    &:hover
        text-decoration none

.input-validation-error
    border 1px solid #F2595C !important
    border-bottom-left-radius 0
    border-bottom-right-radius 0
    &:focus
        box-shadow(0 0 8px rgba(242,89,92,.6))

.field-validation-error
    color #F2595C
    border 1px solid #F2595C
    border-top none
    background-color #FFDEDE
    padding-left 8px

table
    border-collapse collapse
    border-spacing 0
    th
    td
        padding 0

/* 头部样式 */
.top-container
    table.top-header
        width 100%
        border none
        color #FFFFFF
        .top-header-left
            background url('/Content/images/new/top_bg.jpg') repeat-x
            width 289px
            height 57px
            .top-header-logo
                width 100%
                border none
        .top-header-right
            background url('/Content/images/new/top_bg.jpg')
            table
                width 100%
                border none
                .top-header-date
                    height 29px
                    text-align left
                .top-header-title
                    width 50%
                    height 28px
                    div
                        text-align left
                        background url("/Content/images/new/top_lable.jpg") no-repeat
                        width 126px
                        height 28px
                        float left
                        p
                            margin-top 8px
                .top-header-menu
                    .menu
                        background url("/Content/images/new/top_menu.jpg") no-repeat
                        width 348px
                        height 28px
                        float right
                        ul
                            margin 6px 0 0 60px
                            overflow hidden
                            li
                                float left
                                display block
                                a
                                    padding 2px 8px
                                    display block
                                    span
                                        color #FFFFFF
                                        display block
                                    &:hover
                                        span
                                            color #004C7E
    table.top-menu
        width 100%
        border none
        height 25px
        .top-menu-left
            background url('/Content/images/new/menu_bg.jpg')
            width 165px
            .top-menu-user
                background url('/Content/images/new/menu_left.jpg') no-repeat
                width 155px
                height 22px
                float left
                margin 3px 0 0 6px
                text-align center
                color #FFFFFF
                p
                    margin-top 5px
        .top-menu-list
            background url('/Content/images/new/menu_bg.jpg') repeat-x
            width 100%
            div
                width 100%
                height 25px
                ul
                    padding 4px 0 0 70px
                    overflow hidden
                    li
                        float left
                        a
                            display block
                            &:hover
                            &.active
                                background url('/Content/images/new/menu_list.jpg') repeat-x
                                span
                                    color #FFFFFF
                                    border 1px solid #004C7E
                            span
                                display block
                                padding 0 12px
                                color #004C7E
/* 导航样式 */
.navigator-container
    .navigator
        width 166px
        height 100%
        border 0
        .navigator-list
            text-align center
            vertical-align top
            background #D4ECFC
            table.list
                width 162px
                height 100%
                table-layout fixed
                .list-title
                    height 28px
                    background url('/Content/images/new/list_top.gif')
                .list-data
                    height 92px
                    vertical-align top
                    .base-data
                        width 100%
                        height 40px
                        margin-top 4px
                        td
                            height 20px
                    .more-data
                        width 100%
                        height 50px
                .list-nav-header
                    td
                        height 25px
                        background url('/Content/images/new/list_task.jpg')
                .list-nav-item
                    td
                        border-bottom 1px dotted #004C7E
                        height 25px
                    &.active
                    &:hover
                        background #60A9E0
                        color #FFFFFF
                    &.last-nav-item
                        td
                            border-bottom none
                            height 30px
/* 内容容器 */
.container-wrapper
    overflow auto
    width 100%
    height 100%
    position fixed
    .wrapper
        width 100%
        height 100%
        border none
        .wrapper-td
            width 168px
            vertical-align top

/** bootstrap **/
.container-fluid
    margin 0
    padding 0 0 70px 0
.form-control
    height 30px
    font-size 12px
    border-radius 0
    box-shadow none
    transition none
input[type=radio]
input[type=checkbox]
    margin 0
.btn
    font-size 12px
.panel
    margin-bottom 10px
    .panel-heading
        padding 8px 12px
.table-responsive
    .table
        margin-bottom 0
        th
        td
            padding 6px
            text-align center
            vertical-align middle
.modal-sm
    width 260px
    .modal-header
        padding 6px
        .close
            margin-top 2px
            margin-right 6px
.modal-dialog
    .modal-header
        padding 10px
.alert
    padding 12px
    margin-bottom 16px
.pagination
    margin 6px 0
.pagination>li>a
.pagination>li>span
    padding 4px 10px
.col-sm-10
    text-align left
