@charset "utf-8";

.cubeNavigationArea .icon-cube {
    font-size: 2rem;
    color: #fff
}

.cubeNavigationArea .cubeLink_text_p {
    font-size: .7rem
}

.form.formStyle31 {
    padding: 0;
    background: transparent;
    border: 0
}

.cubeNavigationArea {
    overflow: hidden;
    min-height: .5rem;
    padding-top: 1.5%
}

.cubeNavigationArea .cubeLink {
    float: left;
    width: 100%;
    height: 4.7rem;
    padding-bottom: 1.5%;
    padding-left: 1.5%
}

.cubeNavigationArea .cubeLink .cubeLink_a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_bg {
    width: 100%;
    height: 100%;
    position: absolute
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_curtain {
    width: 100%;
    height: 100%;
    position: absolute
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_ico {
    width: 2rem;
    height: 2.1rem;
    margin: auto;
    position: absolute;
    background-size: 40px 40px
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_text {
    width: 100%;
    position: absolute;
    table-layout: fixed
}

.cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_text .cubeLink_text_p {
    white-space: nowrap;
    overflow: hidden
}

.cubeNavigationArea .cubeLink_fixWidth_1 {
    width: 97% !important
}

.cubeNavigationArea .cubeLink_fixWidth_2 {
    width: 47.75% !important
}

.formStyle31.moduleStyle15 {
    background: #fff;
    margin-top: 0
}

.cubeNavigationArea15 {
    width: 100%;
    padding-top: 0
}

.cubeNavigationArea15 .cubeLink {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding: 0;
    height: 3.7rem;
}

.cubeNavigationArea15 .cubeLink .cubeLink_a {
    overflow: hidden
}

.cubeNavigationArea15 .cubeLink .cubeLink_a .cubeLink_bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.cubeNavigationArea15 .cubeLink .cubeLink_a .cubeLink_curtain {
    width: 57%;
    right: -14%;
    -webkit-transform: skew(-30deg, 0deg);
    -ms-transform: skew(-30deg, 0deg);
    -moz-transform: skew(-30deg, 0deg);
    -o-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
    background: linear-gradient(top, #fbfbfb, #d2cfd0);
    background: -webkit-linear-gradient(top, #fbfbfb, #d2cfd0);
    background: -ms-linear-gradient(top, #fbfbfb, #d2cfd0);
    background: -moz-linear-gradient(top, #fbfbfb, #d2cfd0);
    background: -o-linear-gradient(top, #fbfbfb, #d2cfd0)
}

.cubeNavigationArea15 .cubeLink .cubeLink_a .cubeLink_ico {
    left: 0;
    right: 0;
    background-image: none !important
}

.cubeNavigationArea15 .cubeLink .cubeLink_a .cubeLink_ico:before {
    content: none !important
}

.cubeNavigationArea15 .cubeLink .cubeLink_a .cubeLink_text {
    font-size: 16px;
    color: #333;
    position: relative !important;
    text-align: right !important;
    display: table !important;
    height: 100% !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important
}

.cubeNavigationArea15 .cubeLink .cubeLink_a .cubeLink_text .cubeLink_text_p {
    display: table-cell !important;
    vertical-align: middle !important;
    padding: 10% 4% 0 0 !important
}

.cubeNavigationArea15 .cubeLink .cubeLink_a .cubeLink_text .cubeLink_text_p .cubeLink_subText_p {
    font-size: .6rem;
    font-weight: normal;
    color: #333;
    font-family: Arial;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout1 .cubeLink_ico {
    left: 0;
    right: 0;
    top: 10%;
    bottom: auto
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout1 .cubeLink_text {
    left: auto;
    right: auto;
    top: auto;
    bottom: 10%;
    text-align: center;
    height: auto;
    position: absolute;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout1 .cubeLink_text .cubeLink_text_p {
    padding-left: 0;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout2 .cubeLink_ico {
    left: 0;
    right: 0;
    top: auto;
    bottom: 10%
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout2 .cubeLink_text {
    left: auto;
    right: auto;
    top: 10%;
    bottom: auto;
    text-align: center;
    height: auto;
    position: absolute;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout2 .cubeLink_text .cubeLink_text_p {
    padding-left: 0;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout3 .cubeLink_ico {
    left: 10%;
    right: auto;
    top: 0;
    bottom: 0
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout3 .cubeLink_text {
    left: auto;
    top: auto;
    bottom: auto;
    text-align: right;
    height: 100%;
    position: relative;
    display: table
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout3 .cubeLink_text .cubeLink_text_p {
    padding-right: 10%;
    display: table-cell;
    vertical-align: middle
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout4 .cubeLink_ico {
    left: auto;
    right: 10%;
    top: 0;
    bottom: 0
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout4 .cubeLink_text {
    right: auto;
    top: auto;
    bottom: auto;
    text-align: left;
    height: 100%;
    position: relative;
    display: table
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout4 .cubeLink_text .cubeLink_text_p {
    padding-left: 10%;
    display: table-cell;
    vertical-align: middle
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout5 .cubeLink_ico {
    left: auto;
    right: 10%;
    top: auto;
    bottom: 10%
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout5 .cubeLink_text {
    right: auto;
    top: 10%;
    bottom: auto;
    text-align: left;
    height: auto;
    position: absolute;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout5 .cubeLink_text .cubeLink_text_p {
    padding-left: 10%;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout6 .cubeLink_ico {
    left: 10%;
    right: auto;
    top: 10%;
    bottom: auto
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout6 .cubeLink_text {
    left: auto;
    top: auto;
    bottom: 10%;
    text-align: right;
    height: auto;
    position: absolute;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout6 .cubeLink_text .cubeLink_text_p {
    padding-right: 10%;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout7 .cubeLink_ico {
    left: 10%;
    right: auto;
    top: auto;
    bottom: 10%
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout7 .cubeLink_text {
    left: auto;
    top: 10%;
    bottom: auto;
    text-align: right;
    height: auto;
    position: absolute;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout7 .cubeLink_text .cubeLink_text_p {
    padding-right: 10%;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout8 .cubeLink_ico {
    left: auto;
    right: 10%;
    top: 10%;
    bottom: auto
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout8 .cubeLink_text {
    right: auto;
    top: auto;
    bottom: 10%;
    text-align: left;
    height: auto;
    position: absolute;
    display: block
}

.cubeNavigationArea .cubeLink .cubeLink_a.textLayout8 .cubeLink_text .cubeLink_text_p {
    padding-left: 10%;
    display: block
}