@charset "utf-8"
@import "../base"

body
    background url('/Content/images/mobile/bg2.jpg') no-repeat center
    background-size cover
    overflow hidden

.login-dialog
    .weui-dialog__bd
        padding 0
        .weui-cells_form
            margin-top 0

.container
    .weui-flex
        text-align center
        margin-top rem(140px)
    .weui-grids
        .weui-grid
            border 1px solid #fff
            width 30%
            margin-left 2.5%
            margin-top 2.5%
            border-radius 3px
            padding 0
            &:nth-child(8n+1)
                background-color #36A1DB
            &:nth-child(8n+2)
                background-color #678ce1
            &:nth-child(8n+3)
                background-color #8c67df
            &:nth-child(8n+4)
                background-color #84d018
            &:nth-child(8n+5)
                background-color #14c760
            &:nth-child(8n+6)
                background-color #f3b613
            &:nth-child(8n+7)
                background-color #ff8a4a
            &:nth-child(8n+8)
                background-color #fc5366
            .weui-grid__icon
                width 100%
                height 100%
                img
                    width 50%
                    height 50%
                    margin 10% auto
            .weui-grid__label
                background #fff

