@charset "utf-8"
@import "mixins"

//Scaffolding
$body-bg=#F8F8F8
$text-color=#333333
$text-sec-color=#666666
$tip-color=#999999
$link-color=#009EFE
$link-hover-color=$link-color
$link-hover-decoration=none
$border-color=#E6E6E6

// fonts
$font-size-base=rem(30px)
$font-size-large=rem(32px)
$font-size-small=rem(26px)
$font-size-h1=$font-size-base * 2
$font-size-h2=rem(40px)
$font-size-h3=rem(36px)
$font-size-h4=rem(32px)
$font-size-h5=$font-size-base
$font-size-h6=$font-size-small
$font-size-tip=rem(24px)

// components
$line-height-base=1.5
$padding-base-vertical=rem(17px)
$padding-large-vertical=rem(34px)
$padding-small-vertical=rem(8px)

// buttons
$btn-font-weight=normal
$btn-default-color=#979797
$btn-default-border=#979797
$btn-default-bg=#FFFFFF
$btn-primary-color=#FFFFFF
$btn-primary-bg=#009EFE
$btn-primary-border=#009EFE
$btn-disabled-bg=#D5D5D5
$btn-disabled-color=#6D6D6D

// forms
$input-bg=#FFFFFF
$input-color=$text-color
$input-color-placeholder=#CCCCCC

// color
$white=#fff
$black=#000
$red = #FB2E39
$ccc = #CCCCCC
$blue=#5690F5

@font-face
    font-family 'icomoon'
    src url('fontsIco/icomoon.eot?-2mgmdr&v=133')
    src url('fontsIco/icomoon.eot?#iefix-2mgmdr&v=133') format('embedded-opentype'), url('fontsIco/icomoon.woff?-2mgmdr&v=133') format('woff'), url('fontsIco/icomoon.ttf?-2mgmdr&v=133') format('truetype')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"], [class*="faisco-icons-"]
    font-family 'icomoon', '微软雅黑', '宋体'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    font-smoothing antialiased

html, body
    background-color $body-bg
    font-family 'Heiti SC'\,'Heiti TC'\, 'STHeitiTC-Light'\, 'SimHei'\, 'Microsoft YaHei'\, 'Helvetica'\, 'sans-serif'
    font-smoothing antialiased

html, body, p
    margin 0
    padding 0
    font-size $font-size-base

body
    max-width rem(750)
    margin 0 auto
a
    text-decoration none
    color $link-color
    font-size $font-size-base

.text-center
    text-align center

.container
    margin 0 auto
    overflow-x hidden
    width 100%
    min-height 100%

.loading
    z-index 9999
    position fixed
    width 100%
    top 0
    bottom 0
    left 0
    right 0
    margin 0 auto
    background rgba(0, 0, 0, .5) !important
    .splash-screen
        position absolute
        transform translateX(-50%) translateY(-50%)
        top 50%
        left 50%
        display block
    .ui-loader
        opacity: .85
        .ui-icon
            position static
            display block
            opacity .9
            width rem(225px)
            height rem(225px)
            background-color: transparent
        .ui-icon-loading
            background url(/Content/images/training/student/loading.gif) no-repeat center
            border-radius rem(75px)
            background-size 100% 100%
        .spin
            transform rotate(360deg)
            animation spin 1s infinite

@-webkit-keyframes spin
    from
        transform rotate(0deg)
    to
        transform rotate(360deg)

.banner-box
    margin 0 auto
    position relative
    z-index 1
    .banner
        z-index 2

.banner-swipe
    height rem(175px)
    visibility visible
    overflow hidden
    position relative
    margin 0 auto
    .banner-swipe-list
        overflow hidden
        position relative
        height 100%
        img
            display inline-block
            width 100%
            height 100%
            font-size 0
            line-height 0
            vertical-align middle
        .banner-swipe-item
            float left
            position relative
            width 100%
            height 100%
    .banner-bullet
        position absolute
        height rem(70px)
        bottom 0
        width 100%
        .bullets
            text-align center
            list-style none
            margin 0
            padding 0
            li
                display inline-block
                width rem(26px)
                height rem(26px)
                border-radius 100%
                background $btn-default-color
                margin 0 rem(8px)
                background rgba(170, 170, 170, 0.5)
                box-shadow 0 0 2px rgba(0, 0, 0, 0.3)
                vertical-align middle
                &.on
                    background $white

.container-box
    z-index 0
    display block
    position relative
    margin 0 auto

.module-box
    position relative

.form
    position relative
    margin-top rem(45px)
    overflow hidden
    &:nth-child(1)
        margin-top 0
        box-shadow none
    .form-banner-title
        width 100%
        font-weight 500
        font-size rem(32px)
        line-height 1.5
        .title-text
            text-indent $font-size-base
            width 78%
            white-space nowrap
            overflow hidden
            float left
            color $white
        .title-text-icon
            display none
            float left
            line-height inherit
        .text-content
            white-space nowrap
            float left
            overflow hidden
            text-overflow ellipsis
            width 90%
