@charset "utf-8";
html,
body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #f5faff;
  color: #888;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.weui-cells {
  font-size: 14px;
}
.weui-cells .weui-label {
  width: 5em;
}
.weui-btn_primary {
  background-color: #2faef6;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
  background-color: #2faef6;
}
.weui-btn_plain_primary {
  color: #2faef6;
  border: 1px solid #2faef6;
}
.weui-btn_plain_primary:not(.weui-btn_disabled):active {
  color: #2faef6;
  border: 1px solid #2faef6;
}
.weui-cells_radio .weui_check:checked+.weui_icon_checked:before {
  color: #2faef6;
}
.weui_icon_success:before {
  color: #2faef6;
}
.weui-switch:checked {
  border-color: #2faef6;
  background-color: #2faef6;
}
.weui-cell__ft {
  font-size: 12px;
}
.weui-btn_dialog.primary {
  color: #2faef6;
}
.weui-actionsheet {
  max-height: 100%;
  overflow: auto;
}
.weui-mask.info-container {
  overflow: auto;
}
.weui-input {
  padding-left: 15px;
}
.weui-select {
  color: #888;
}
.weui-cell_select .weui-cell__bd:after {
  display: none;
}
.weui-form-preview__btn_primary {
  color: #2faef6;
}
.weui-navbar__item.weui-bar__item_on {
  background: #2faef6;
  color: #fff;
}
[v-cloak] {
  display: none;
}
.highlight-color {
  color: #2faef6 !important;
}
.stress-color {
  color: #ff8a38 !important;
}
.stress-background {
  background-color: #ff8a38 !important;
}
.warning-color {
  color: #ef4f4f !important;
}
.default-color {
  color: #888 !important;
}
.tips-color {
  color: #999 !important;
}
.f10 {
  font-size: 10px !important;
}
.f12 {
  font-size: 12px !important;
}
.f14 {
  font-size: 14px !important;
}
.f16 {
  font-size: 16px !important;
}
.f18 {
  font-size: 18px !important;
}
.f20 {
  font-size: 20px !important;
}
.f22 {
  font-size: 22px !important;
}
.stress {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.block-center {
  margin: 0 auto;
}
.float-clear {
  clear: both;
}
.position-height {
  height: 100px;
  height: 1.3333rem;
}
.position-height120 {
  height: 120px;
  height: 1.6rem;
}
.position-height140 {
  height: 140px;
  height: 1.8667rem;
}
.car-btn-disabled {
  background: #009dd9;
  color: rgba(255,255,255,0.6);
  opacity: 0.6;
}
body {
  background: url("/Content/images/mobile/bg2.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.container .weui-flex {
  text-align: center;
  margin-top: 140px;
  margin-top: 1.8667rem;
}
.container .weui-grids .weui-grid {
  border: 1px solid #fff;
  width: 30%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
}
.container .weui-grids .weui-grid:nth-child(8n+1) {
  background-color: #36a1db;
}
.container .weui-grids .weui-grid:nth-child(8n+2) {
  background-color: #678ce1;
}
.container .weui-grids .weui-grid:nth-child(8n+3) {
  background-color: #8c67df;
}
.container .weui-grids .weui-grid:nth-child(8n+4) {
  background-color: #84d018;
}
.container .weui-grids .weui-grid:nth-child(8n+5) {
  background-color: #14c760;
}
.container .weui-grids .weui-grid:nth-child(8n+6) {
  background-color: #f3b613;
}
.container .weui-grids .weui-grid:nth-child(8n+7) {
  background-color: #ff8a4a;
}
.container .weui-grids .weui-grid:nth-child(8n+8) {
  background-color: #fc5366;
}
.container .weui-grids .weui-grid .weui-grid__icon {
  width: 100%;
  height: 100%;
}
.container .weui-grids .weui-grid .weui-grid__icon img {
  width: 50%;
  height: 50%;
  margin: 10% auto;
}
.container .weui-grids .weui-grid .weui-grid__label {
  background: #fff;
}
