@charset "utf-8"

body
    font-family "微软雅黑", Arial, Helvetica, sans-serif
    color #333
header, footer, nav
    display block
ul
    list-style-type none
    margin 0
    padding 0
    li
        list-style-type none
        margin 0
        padding 0
.table
    margin-bottom 0
    tbody
    thead
        tr
            td
            th
                vertical-align middle

.js-max-input
    border 1px solid #ffd2b2
    background #fffae5
    padding 0 12px
    font-size 22px
    color #ff4400
    z-index 100

.input-validation-error
    border 1px solid #F2595C !important
    border-bottom-left-radius 0
    border-bottom-right-radius 0
    &:focus
        box-shadow(0 0 8px rgba(242,89,92,.6))

.field-validation-error
    color #F2595C
    border 1px solid #F2595C
    border-top none
    background-color #FFDEDE
    padding-left 8px

#tips_success_modal
#tips_failure_modal
    .modal-body
        padding 0
        .alert
            margin 0
            text-align center

/** bootstrap **/
.container-fluid
    margin 0
    padding 0
.form-control
    height 30px
    font-size 14px
    border-radius 0
    box-shadow none
    transition none
input[type=radio]
input[type=checkbox]
    margin 0
.btn
    font-size 14px
    border-radius 0
    padding 4px 12px
.btn-sm
    font-size 12px
    border-radius 0
    padding 4px 10px
.panel
    margin-bottom 10px
    .panel-heading
        padding 8px 12px
    .modal-body
        overflow hidden
.table-responsive
    .table
        margin-bottom 0
        .bg-info
            th
            td
                background-color #1c84c6
        th
        td
            padding 4px
            text-align center
            vertical-align middle
            min-width 90px
.modal-sm
    width 260px
    .modal-header
        padding 6px
        text-align center
        .close
            margin-top 0
            margin-right 0
.modal-dialog
    .modal-header
        padding 10px
.alert
    padding 12px
    margin-bottom 16px
    &.tips-content
        margin-bottom 0
        text-align center
.pagination
    margin 6px 0
.pagination>li>a
.pagination>li>span
    padding 4px 10px
.col-sm-10
    text-align left
/** common **/
.no-list-count
    margin-top 10px
    text-align center
.xdsoft_datetimepicker
    .xdsoft_timepicker
        width 130px !important
        .xdsoft_prev
        .xdsoft_next
            margin-left 51px !important
