@charset "utf-8"
@import "../base"

body
    //background url('../../../images/mobile/bg2.jpg') no-repeat center
    //background-size cover
    overflow hidden

.container
    .reg-logo
        text-align center
        margin-top rem(140px)
    .reg-form
        margin rem(80px) auto rem(40px) auto
        overflow hidden
        .weui-btn
            width rem(600px)
