#zhifuModal
    .wizard
        .content
            min-height 0
            .body
                float none
                position inherit
                height auto
                padding 2.5% 2.5% 0 2.5%
                width 100%

.sequence-show
    /*padding 0 30px*/
    width 100%
    position relative
    overflow hidden
    table.venue-large
        margin-bottom 0
        width 100%
        td
            height 40px
            width 100px
            text-align center
            vertical-align middle
            padding 0
            border-right 0
            border-bottom 0
            cursor pointer
            &.time
                width 114px
            &.phone
                background url("/Content/images/icons/phone.png") no-repeat 6px
                background-size 20px
            &.mobile
                background url("/Content/images/icons/mobile.png") no-repeat 6px
                background-size 20px
            &.computer
                background url("/Content/images/icons/computer.png") no-repeat 6px
                background-size 20px
            &.ordered
                background-color #3187bf
                color #fff
            &.unpaid
                background-color #e6a200
                color #fff
            span
                display block
            &.selected
                background url("/Content/images/icons/checked.png") no-repeat center
                background-size 20px
            &.locked
                background #E8E8E8 url("/Content/images/icons/locked.png") no-repeat center
                background-size 20px
            &.disabled
                background #E8E8E8 url("/Content/images/icons/disabled.png") no-repeat center
                background-size 20px
        tr
            &:nth-child(1)
                background-color #f2f2f2
                td
                    cursor default
.sequence-tips
    padding 0 20px
    span
        padding 4px 10px
        margin-right 14px
    .ordered
        background-color #3187bf
        color #fff
    .unpaid
        background-color #e6a200
        color #fff
    .locked
        background-color #E8E8E8
        color #fff
    .disabled
        background-color #E8E8E8
        color #fff
