#zhifuModal .wizard .content {
  min-height: 0;
}
#zhifuModal .wizard .content .body {
  float: none;
  position: inherit;
  height: auto;
  padding: 2.5% 2.5% 0 2.5%;
  width: 100%;
}
.sports-list {
  float: left;
}
.sports-list .sports-item .sports-icon {
  height: 24px;
}
.sports-list .sports-item.btn-default .sports-active {
  display: none;
}
.sports-list .sports-item.btn-default .sports-inactive {
  display: inline;
}
.sports-list .sports-item.btn-primary {
  background: #fff;
  color: #3187bf;
}
.sports-list .sports-item.btn-primary .sports-active {
  display: inline;
}
.sports-list .sports-item.btn-primary .sports-inactive {
  display: none;
}
.date-list {
  float: left;
  margin-left: 15px;
  min-height: 25px;
  margin-bottom: 10px;
}
.date-list .navbar-collapse {
  padding: 0;
}
.date-list .navbar-collapse .nav li a {
  line-height: 16px;
  padding: 10px 14px !important;
}
.sequence-btns {
  float: right;
}
.sequence-btns .btn {
  padding: 10px 12px;
}
.sequence-show {
/*padding 0 30px*/
  width: 100%;
  position: relative;
  overflow: hidden;
}
.sequence-show table.venue-large {
  margin-bottom: 0;
  width: 100%;
}
.sequence-show table.venue-large td {
  height: 40px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border-right: 0;
  border-bottom: 0;
  cursor: pointer;
}
.sequence-show table.venue-large td.time {
  width: 114px;
}
.sequence-show table.venue-large td.phone {
  background: url("/Content/images/icons/phone.png") no-repeat 6px;
  background-size: 20px;
}
.sequence-show table.venue-large td.mobile {
  background: url("/Content/images/icons/mobile.png") no-repeat 6px;
  background-size: 20px;
}
.sequence-show table.venue-large td.computer {
  background: url("/Content/images/icons/computer.png") no-repeat 6px;
  background-size: 20px;
}
.sequence-show table.venue-large td.ordered {
  background-color: #3187bf;
  color: #fff;
}
.sequence-show table.venue-large td.unpaid {
  background-color: #e6a200;
  color: #fff;
}
.sequence-show table.venue-large td span {
  display: block;
}
.sequence-show table.venue-large td.selected {
  background: url("/Content/images/icons/checked.png") no-repeat center;
  background-size: 20px;
}
.sequence-show table.venue-large td.locked {
  background: #e8e8e8 url("/Content/images/icons/locked.png") no-repeat center;
  background-size: 20px;
}
.sequence-show table.venue-large td.disabled {
  background: #e8e8e8 url("/Content/images/icons/disabled.png") no-repeat center;
  background-size: 20px;
}
.sequence-show table.venue-large tr:nth-child(1) {
  background-color: #f2f2f2;
}
.sequence-show table.venue-large tr:nth-child(1) td {
  cursor: default;
}
.sequence-tips {
  padding: 0 20px;
}
.sequence-tips span {
  padding: 4px 10px;
  margin-right: 14px;
}
.sequence-tips .ordered {
  background-color: #3187bf;
  color: #fff;
}
.sequence-tips .unpaid {
  background-color: #e6a200;
  color: #fff;
}
.sequence-tips .locked {
  background-color: #e8e8e8;
  color: #fff;
}
.sequence-tips .disabled {
  background-color: #e8e8e8;
  color: #fff;
}
