@charset "utf-8"
@import "../base"

.ww-wrapper
    .wrapper
        .settings-filter
            padding 10px 10px 20px
        .settings-list
            padding 0 10px
            width 100%
            position relative
            overflow hidden
            table
                td
                    vertical-align middle
