#zhifuModal
    .wizard
        .content
            min-height 0
            .body
                float none
                position inherit
                height auto
                padding 2.5% 2.5% 0 2.5%
                width 100%
.sports-list
    display inline-block
    .sports-item
        .sports-icon
            height 16px
        &.btn-default
            padding 2px 6px
            .sports-active
                display none
            .sports-inactive
                display inline
        &.btn-primary
            padding 2px 6px
            background-color #FFF
            color #357ebd
            .sports-active
                display inline
            .sports-inactive
                display none
.date-list
    float left
    min-height 25px
    margin-bottom 10px
    .navbar-collapse
        padding 0
        .nav
            li
                a
                    line-height 16px
                    padding 10px 14px !important
.sequence-btns
    float right
.sequence-show
    /*padding 0 30px*/
    width 100%
    position relative
    overflow hidden
    table.venue-large
        margin-bottom 0
        width 100%
        td
            height 40px
            width 100px
            text-align center
            vertical-align middle
            padding 0
            border-right 0
            border-bottom 0
            cursor pointer
            position relative
            &.active
                background-color #f9f9f9
            &.sel
                border 1px solid #a94442
            &.time
                width 114px
            &.phone
                background url("/Content/images/icons/phone.png") no-repeat 6px
                background-size 20px
            &.mobile
                background url("/Content/images/icons/mobile.png") no-repeat 6px
                background-size 20px
            &.computer
                background url("/Content/images/icons/computer.png") no-repeat 6px
                background-size 20px
            &.ordered
                background-color #3187bf
                color #fff
            &.unpaid
                background-color #e6a200
                color #fff
            span
                display block
                &.angle
                    display none
            &.selected
                background url("/Content/images/icons/checked.png") no-repeat center
                background-size 20px
            &.locked
                background #E8E8E8 url("/Content/images/icons/locked.png") no-repeat center
                background-size 20px
            &.disabled
                background #E8E8E8 url("/Content/images/icons/disabled.png") no-repeat center
                background-size 20px
            &.used
                .angle
                    display block
                    position absolute
                    width 0
                    height 0
                    top 0
                    right 0
                    border-left 10px solid transparent
                    border-bottom 10px solid transparent
                    border-right 10px solid #ADADAD
                    border-top 10px solid #ADADAD
                    color #fff
            &.signed
                .angle
                    display block
                    position absolute
                    width 0
                    height 0
                    top 0
                    right 0
                    border-left 10px solid transparent
                    border-bottom 10px solid transparent
                    border-right 10px solid #7CCD7C
                    border-top 10px solid #7CCD7C
                    color #fff
        tr
            &:nth-child(1)
                background-color #f2f2f2
                td
                    cursor default
.sequence-tips
    padding 0 20px
    span
        padding 4px 10px
        margin-right 14px
    .ordered
        background-color #3187bf
        color #fff
    .unpaid
        background-color #e6a200
        color #fff
    .locked
        background-color #E8E8E8
        color #fff
    .disabled
        background-color #E8E8E8
        color #fff

.side-bar
    width 60px
    height 60px
    position fixed
    bottom 10px
    right 60px
    z-index 100
    border-radius 30px
    .btn
        width 60px
        height 60px
        line-height 50px
        border-radius 30px

.right-order-plane
    width 286px
    position fixed
    bottom 80px
    right 20px
    z-index 100
    border 1px solid #888
    background #fff
    border-radius 10px
    .title
        height 30px
        margin 0 auto
        width 90%
        color #222222
        font-size 14px
        padding-top 4px
        ul
            height 100%
            border-bottom 1px solid #e6e6e6
            white-space nowrap
            li
                display inline-block
                max-width 90px
                padding 0 10px 0 0
                vertical-align middle
                span
                    display block
                    overflow hidden
                    width 16px
                    height 16px
                    &.ordered
                        border 1px solid #3187BF
                        background-color #3187BF
                    &.unpaid
                        border 1px solid #e6a200
                        background-color #e6a200
                    &.locked
                        border 1px solid #E8E8E8
                        background-color #E8E8E8
                    &.disabled
                        border 1px solid #E8E8E8
                        background-color #E8E8E8
    .info
        width 90%
        margin 0 auto
        overflow hidden
        padding-top 4px
        dl
            line-height 20px
            dt
                display block
                width 50px
                float left
                font-size 14px
                color #666666
            dd
                font-size 14px
                color #222222
                text-align left
        .selected-booking
            margin-top 30px
            li
                margin 5px 5px
                border 1px solid #aaaaaa
                border-radius 3px
                width 246px
                height 30px
                line-height 30px
                font-size 14px
                color #222222
        .court-display
            margin-top 20px
            float left
            margin-left 5px
            font-size 14px
            color #222222
            .number
                padding 5px
                color #3187bf
            .append-msg
                display none
        .price-display
            margin 10px 10px 10px 5px
            float left
            font-size 18px
            color #222222
            clear both
            .number
                padding 5px
                color #3187bf
        .submit-button
            display block
            width 200px
            height 40px
            line-height 40px
            border-radius 5px
            color #fff
            text-align center
            border 0
            outline 0
            margin 10px auto
            font-size 14px
            cursor pointer
            background #3187bf
            clear both
