
.heat-show
    width 100%
    position relative
    overflow hidden
    table
        margin-bottom 0
        td
            height 50px
            width 80px
            text-align center
            vertical-align middle !important
            padding 0 !important
            border-right 0
            border-bottom 0
            cursor pointer
            &.time
                width 114px
            span
                display block
                height 25px
                line-height 25px
                &.order-80
                    background-color #367517
                &.order-60
                    background-color #489620
                &.order-40
                    background-color #50A624
                &.order-20
                    background-color #C8E2B1
                &.order-00
                    background-color #E6F1D8
                &.consult-80
                    background-color #D59B00
                &.consult-60
                    background-color #F3C246
                &.consult-40
                    background-color #F9CC76
                &.consult-20
                    background-color #FCE0A6
                &.consult-00
                    background-color #FEEBD0
.heat-tips
    span
        padding 4px 10px
        margin-left 14px
    .order-80
        background-color #367517
    .order-60
        background-color #489620
    .order-40
        background-color #50A624
    .order-20
        background-color #C8E2B1
    .order-00
        background-color #E6F1D8
    .consult-80
        background-color #D59B00
    .consult-60
        background-color #F3C246
    .consult-40
        background-color #F9CC76
    .consult-20
        background-color #FCE0A6
    .consult-00
        background-color #FEEBD0
