@charset "utf-8";
body {
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
  color: #333;
}
header,
footer,
nav {
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.table {
  margin-bottom: 0;
}
.table tbody tr td,
.table thead tr td,
.table tbody tr th,
.table thead tr th {
  vertical-align: middle;
}
.js-max-input {
  border: 1px solid #ffd2b2;
  background: #fffae5;
  padding: 0 12px;
  font-size: 22px;
  color: #f40;
  z-index: 100;
}
.input-validation-error {
  border: 1px solid #f2595c !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.field-validation-error {
  color: #f2595c;
  border: 1px solid #f2595c;
  border-top: none;
  background-color: #ffdede;
  padding-left: 8px;
}
#tips_success_modal .modal-body,
#tips_failure_modal .modal-body {
  padding: 0;
}
#tips_success_modal .modal-body .alert,
#tips_failure_modal .modal-body .alert {
  margin: 0;
  text-align: center;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.form-control {
  height: 30px;
  font-size: 14px;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}
input[type=radio],
input[type=checkbox] {
  margin: 0;
}
.btn {
  font-size: 14px;
  border-radius: 0;
  padding: 4px 12px;
}
.btn-sm {
  font-size: 12px;
  border-radius: 0;
  padding: 4px 10px;
}
.panel {
  margin-bottom: 10px;
}
.panel .panel-heading {
  padding: 8px 12px;
}
.panel .modal-body {
  overflow: hidden;
}
.table-responsive .table {
  margin-bottom: 0;
}
.table-responsive .table .bg-info th,
.table-responsive .table .bg-info td {
  background-color: #1c84c6;
}
.table-responsive .table th,
.table-responsive .table td {
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  min-width: 90px;
}
.modal-sm {
  width: 260px;
}
.modal-sm .modal-header {
  padding: 6px;
  text-align: center;
}
.modal-sm .modal-header .close {
  margin-top: 0;
  margin-right: 0;
}
.modal-dialog .modal-header {
  padding: 10px;
}
.alert {
  padding: 12px;
  margin-bottom: 16px;
}
.alert.tips-content {
  margin-bottom: 0;
  text-align: center;
}
.pagination {
  margin: 6px 0;
}
.pagination>li>a,
.pagination>li>span {
  padding: 4px 10px;
}
.col-sm-10 {
  text-align: left;
}
.no-list-count {
  margin-top: 10px;
  text-align: center;
}
.xdsoft_datetimepicker .xdsoft_timepicker {
  width: 130px !important;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
  margin-left: 51px !important;
}
