.xdsoft_datetimepicker
    .xdsoft_timepicker
        width 160px
        .xdsoft_prev
        .xdsoft_next
            margin-left 60px

.edit-schedule
    cursor pointer
    position relative
    .bar-schedule
        position absolute
        width 96%
        height 70%
        left 2%
        top 15%
        border-radius 30px
.table th
    width 6%
