@charset "utf-8"
@import "../base"

body
    background #faf6f3

.weui-form-preview__bd
    padding 0

table
    border-collapse collapse
    width 100%
    th
        background #36A1DB
        border 1px solid #59ADF3
        color #fff
        text-align center
        padding 8px
    td
        border 1px solid #59ADF3
        color #333
        text-align center
        padding 8px

.field-block
    .field-block__item
        text-align center
        padding 6px
        border 1px solid #faf6f3
        color #faf6f3
        background-color #36A1DB
        .title
            font-size 16px
        .money
            font-size 16px
