@charset "utf-8"
@import "../base"

body
    background #faf6f3

.field-block
    .field-block__item
        text-align center
        padding 6px
        border 1px solid #faf6f3
        color #faf6f3
        background-color #36A1DB
        .title
            font-size 16px
        .money
            font-size 14px
