@charset "utf-8"
@import "../base"

body
    background #FFF

.field-block
    .field-block__item
        text-align center
        padding 16px
        border 2px solid #FFF
        color #fff
        border-radius 14px
        background-color #36A1DB
        .title
            font-size 22px
            font-weight 700
        .money
            font-size 18px
