@charset "utf-8"
@import "../base"

.ww-wrapper
    .wrapper
        .types-add
            padding 10px 10px 20px
        .types-list
            padding 0 10px
            width 100%
            position relative
            overflow hidden
            table
                td
                    vertical-align middle
                    .def-tpl
                        display block
                        color #3187bf
