@charset "utf-8"
@import "../base"

.input-group
    .form-control
        z-index 0

#zhifuModal
    .wizard
        .content
            min-height 0
            .body
                float none
                position inherit
                height auto
                padding 2.5% 2.5% 0 2.5%
                width 100%
