.grid
    width 180px
    min-height 100px
    padding 10px
    background #fff
    margin 0 0 10px 10px
    font-size 12px
    float left
    box-shadow 0 1px 3px rgba(34,25,25,0.4)
    min-height 224px

.grid strong
    border-bottom 1px solid #ccc
    margin 10px 0
    display block
    padding 0 0 5px
    font-size 14px
    height 46px

.grid .money
    display inline-block
    width 60%

.grid .meta
    text-align right
    color #777
    display inline-block

.grid .imgholder img
    max-width 100%
    background #ccc
    display block
